header
    #head
        a(href="/")
            img(src="/FoodHub.png", alt="", srcset="", width="100px")
        nav
            ul
                li 
                    a(href="/create/food") Add Food
                li
                    a(href="/week/meny") Week Meny
        