header
    #head
        h1 Vad vill du äta?
        nav
            ul
                li 
                    a(href="/create/food") Add Food
                li
                    a(href="/week/meny") Week Meny
        