header
    #head
        #top
            #mainpath
                a(href="/")
                    img(src="/FoodHub.png", alt="", srcset="", width="100px")
            #profile
                a(href="/login" id="loginb") login
        nav
            ul
                li 
                    a(href="/create/food") Add Food
                li
                    a(href="/week/meny") Week Menys
                li 
                    a(href="/profile") profile

    script.
        function loadSave() {
            const response = fetch('/saved/food', {
                method: 'GET', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: window.localStorage.getItem('save') // body data type must match "Content-Type" header
            });
        }
        