head
    include includes/head.pug
body
    header
        #head
            #top
                #mainpath
                    a(href="/")
                        img(src="/FoodHub.png", alt="", srcset="", width="100px")

    main
        #login
            form(action="/createacc", method="post")
                input(type="text", name="username", placeholder="username")
                input(type="text", name="name", placeholder="full name")
                input(type="password", name="password", placeholder="password")
                input(type="password", name="password_rep", placeholder="write password agin")
                input(type="text", name="email", placeholder="email")
                #button
                    input(type="submit", value="create")
                a(href="/login") or login!

    include includes/footer.pug